#principal{
    width: 50%;
    background-color: aquamarine;
    margin: auto;
    padding: 20%;
}
#titulo{
    font-size: 20px;
    text-align: center;
}
#formulario{
    border: 3px solid coral;
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto auto auto auto auto auto auto;
}
